.greet{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
    /* justify-content: center; */
}
.greet-text{
    
}
.btn-portfolio{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.portfolio-btn{
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color: rgb(185, 185, 9);
    padding: 2px;
    gap: 10px;
}
.portfolio-btn .txt{
background-color: green;
border-radius: 30px;
padding: 10px;
}
.portfolio-btn .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
    margin: 2px;
}
.btn-projects{
    border: none;
    padding:10px 15px 10px 15px ;
    border-radius:30px ;
    border: black solid 1px;
}

.greet-image{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.bg-desighn{
    background-color: yellow;
    top: 30px;
    position: absolute;
    width: 400px;
    height: 400px;
    z-index: 0;
    align-items: center;
    /* clip-path: polygon(30% 0%, 100% 10%, 90% 80%, 10% 100%, 0% 30%); */
    /* border-radius: 50%; */
    /* clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 70% 100%, 20% 80%, 0% 40%); */
border-radius: 40% 60% 70% 30% / 30% 40% 60% 70%;
}
.greet-image img{
    width: 300px;
    height: 300px;
    padding: 20px;
}
.greet-image .greet-img{
    position: relative;
    z-index: 1;
}
.greet-image .label{
    position: absolute;
    z-index: 3;
    
}

.greet-image,.greet-text{
    flex: 1;
}