.greet{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px;
    /* justify-content: center; */
}

.btn-portfolio{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.portfolio-btn{
    display: flex;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    background-color:#f9ad1b;
    padding: 2px;
    gap: 10px;
}
.portfolio-btn .txt{
background-color: #344c36;
border-radius: 30px;
padding: 10px;
}
.portfolio-btn .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 50px;
    margin: 2px;
}
.btn-projects{
    border: none;
    padding:10px 15px 10px 15px ;
    border-radius:30px ;
    border: black solid 1px;
}
.greet-text .greet-name{
    padding: 0px 200px 0px 200px;
}
.greet-text p{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    font-weight: bolder;
    font-size: 50px;
    /* overflow: hidden; */
}
.greet-text p span{
    color: #f9ad1b;
    border-bottom: #f9ad1b 1px solid;
    
 }
.greet-image{
   
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

/* .greet-image img{
    width: 400px;
    height: 300px;
    padding: 20px;
} */

.greet-image .label{
    position: absolute;
    z-index: 3;
    
}
.greet-image img{
    border-radius: 150px;
}
.greet-image,.greet-text{
    flex: 1;
}