.nav{
    display: flex;
    justify-content: space-between;
    margin:0 20%;
    align-items: center;
    background-color: #314c38;
    border-radius: 50px 50px 50px 50px !important ;
    height: 40px;
    padding: 0px 40px 0px 40px;
}

.navlinks li{
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-family: sans-serif;

}
.logo{
    display: flex;
    gap: 5px;
}
.logo h2{
    color: #314c38;
    background-color: #f9ad1b;
    padding: 5px;
    border-radius: 30px;
}
.logo h3{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.logo img{
    width: 20px;
    height: 20px;
    
}

.contactbtn button{
    border-radius: 30px;
    padding: 8px;
    border: none;
}